
* {
    margin: 0px;
    padding: 0px;
}
.container {
    display: flex;
}
.side {
    background-color: black;
    width: 300px;
    align-items: center;
    height: 100pc;
}
a {
    text-decoration: none;
}
a :hover {
    color: black;
    background-color: white;
}
a :active {
    color: black;
}
.nav ul {
    align-items: center;
}
.side nav {
    margin-left: 25px;
    align-items: center;
}
.side nav li {
    list-style: none;
    font-size: 17px;
    align-items: center;
    padding: 10px;                                   
    font-weight: 600;
    justify-content: center;
    margin-left: 50px;
}
.side nav li a {
    text-decoration: none;
    color: rgb(126, 122, 122);
}
a :hover {
    background-color: aqua;
}
h5 {
    font-size: 20PX;
}
h5 b {
    margin-left: 20px;
    font-weight: 800;
    font-size: 20px;
}
#ABOUT a{
    color: white;
    font-weight: 900;
    align-items: center;
    margin-left: 20px;
}
#EDUCATION {
    margin-left: 55px;
}
#PROJECT {
    margin-left: 60px;
}
#SKILLS {
    margin-left: 70px;
}
#AWARDS {
    margin-left: 62px;
}
#IMG img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 100px;
    margin-left: 70px;
    align-items: center;
    display: flex;
}
.main {
    background-color: white;
    width: 80%;
    height: 1000px;
    margin-left: 20px;
}
.one {
    background-color: white;
    height: 400px;
    color: black;
    position: relative;
    margin-left: 20px;
}
.one a {
    text-decoration: none;
    color: black;
}
a :hover {
    background-color: white;
    color: black;
}
h1 {
    margin-top: 130px;
    font-size: 70px;
    align-items: center;
    padding-top: 20px;
}
p {
    font-size: 20px;
    font-weight: 300;
    align-items: center;
    padding-top: 30px;
}
#view {
    font-weight: 700;
    font-size: 23px;
    margin-top: 100px;
}
#view a {
    text-decoration: none;
    color: black;
}
#my {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}
.three {
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 600px;
    margin-left: 0px;
    margin-top: 50px;
    background-color: white;
    display: flex;
}
#io {
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 70%;

}
#io i {
    color: white;
    margin-top: 18px;
    font-size: 30px;
    height: 50px;
    width: 30px;
    align-items: center;
    justify-content: space-between;
    margin-left: 13px;
}
#io a :hover {
    color: black;
}
h2 {
    font-size: 35px;
    margin-top: 100px;
}
.four i {
    font-size: 15px;
    margin: 30px;
    display: flex;
}
.four p {
    font-size: 25px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-weight: 600;
}
h6 {
    font-size: 45px;
    margin-top: 120px;
    align-items: center;
    margin-left: 10px;
    padding-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.FIVE {
    align-items: center;
}
#it {
    margin: 10px;
    font-size: 25px;
}
.FIVE i {
    font-size: 20px;
    margin-right: 20px;
}
#fi {
    margin-left: 50px;
    font-style: normal;
    font-size: 21px;
}
#ma {
    margin-left: 50px;
}
#com i {
    margin-left: 10px;
    margin-top: 40px;
}
#com {
    font-size: 25px;
}
#ba {
    margin-left: 60px;
}
#v {
    margin-left: 60px;
}
#six i {
    font-size: 20px;
    color: black;
    padding-left: 20px;
    margin-left: 20px;
}
#SU b {
    margin-left: 20px;
    font-size: 25px;
    font-weight: 700;
}
h2 {
    font-size: 45px;
    font-weight: 900;
    margin-left: 20px;
    padding-bottom: 20px;
}
#ms {
    font-size: 30px;
    margin-left: 60px;
    font-weight: 700;
}
#m {
    font-size: 20px;
    margin-left: 50px;
}
#SEVEN i {
    padding: 10px;
    font-size: 15px;
}
#PRO {
    font-size: 30px;
    font-weight: 700;
    margin-left: 40px;
}
.SKILLS i {
    font-size: 25px;
    font-weight: bold;
    margin-left: 40px;
    padding: 4PX;
}
#NA {
    margin-left: 40px;
    font-size: 30px;
    font-weight: 700;
}
#S {
    font-size: 22px;
}
.JAVA {
    font-size: 20px;
    margin-left: 40px;
    margin-top: 20px;
    font-weight: 700;
}
#W {
    font-weight: 600;
}
#TEEN {
    margin-left: 40px;
    font-size: 25px;
    font-weight: 800;
}
#hj {
    margin-left: 95px;
    font-size: 20px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.AWARDS i{
    font-size: 25Px;
    margin-right: 15px;
}
#menu {
    height: 40px;
    width: 60px;
    color: white;
    background-color: white;
    float: right;
    font-size: 50px; 
}
#menu label {
    font-size: 20px;
    color: aqua;
}

@media only screen and (max-width:1050px){
    .side nav li {
        flex-direction: column;

    }
}